/* Inizio regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
    font-family: Helvetica, sans-serif;
}

h2 {
    margin: 30px 0 20px;
    font-weight: normal;
}

.row {
    background-color: lightgray;
    border: 15px solid lightgray;
}
/* Fine regole generali */

/* Inizio regole quadrati */
.square {
    height: 100px;
    width: 100px;
    background-color: red;
    transition: 3s;
}
    /* UNO */
.uno .square {
    background-color: transparent;
    border: 1px solid red;
}

.uno .square:hover {
    background-color: red;
}

    /* DUE */
.due .square:active {
    width: 100%;
}

    /* TRE */
.tre .square {
    transition: 0.4s;
}
.tre .square:hover {
    border-radius: 50%;
    transition: 0.4s;
}

    /* QUATTRO */
.quattro .square:hover {
    opacity: 0;
}

    /* CINQUE */
.row.cinque {
    height: 130px;
    position: relative;
}

.cinque .square {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-0%, -50%);
    width: 60px;
    height: 60px;
}

.cinque .square:hover {
    width: 115px;
    height: 115px;
    left: 0;
}

.cinque .square:active {
    width: 30px;
    height: 30px;
    left: 40px;
}
/* Fine regole quadrati */

/* Inizio regole immagini */
    /* SEI */
.sei img:hover {
    filter: grayscale(1);
}

    /* SETTE */
.sette img:hover {
    filter: sepia(80%) brightness(110%);
    transition: 3s;
}

    /* OTTO */
.otto img:hover {
    filter: grayscale(70%) saturate(2);
    border-radius: 15px;
    transition: 2s;
}

    /* NOVE */
.nove img {
    scale: 0.7;
    transition: 2s;
}

.nove img:hover {
    scale: 1;
    filter: grayscale(70%) saturate(2);
    border-radius: 15px;
    transition: 2s;
}

/* Fine regole immagini */

/* Inizio regole icone */
.row i {
    font-size: 50px;
}
    /* DIECI */
.dieci i {
    animation: spin 1s linear 0s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

    /* UNDICI */
.undici i:hover {
    animation: spin-two 1s linear 0s;
}

@keyframes spin-two {
    0% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(250deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* Fine regole icone */

/* Inizio regole pulsanti */
.bottone {
    height: 100px;
    width: 300px;
    text-align: center;
    border: 3px solid black;
    position: relative;
}

.bottone a {
    vertical-align: middle;
    line-height: 100px;
    display: block;
    text-decoration: none;
    color: black;
}

.bottone a:hover {
    text-decoration: underline;
    color: rgb(51, 32, 136);
}

.div-up {
    position: absolute;
    top: -3px;
    left: 30px;
    height: 3px;
    width: 60px;
    background-color: lightgray;
}

.div-down {
    position: absolute;
    bottom: -3px;
    right: 30px;
    height: 3px;
    width: 60px;
    background-color: lightgray;
}

.tredici {
    margin-bottom: 100px;
}

    /* DODICI */
.dodici .bottone:hover {
    animation: bottone-uno 1s linear 0s;
}

@keyframes bottone-uno {
    0% {

    }
}